<div [ngStyle]="{'margin-left':offset+'px'}" class="box-item">
  <div nz-row>
    <div nz-col nzFlex="auto">
      <div nz-row>
        <div nz-col nzFlex="50px">
          <button class="box-item-button" nz-button nzType="default" nzShape="circle" nzSize="small"
                  nz-tooltip [nzTooltipTitle]="data.show?'收起':'展开'" (click)="data.show=!data.show"
                  [disabled]="isPlain(data.type)">
            <i nz-icon [nzType]="data.show?'folder-open':'folder'" nzTheme="outline"></i>
          </button>
          <label class="box-item-checkbox" nz-checkbox nz-tooltip [(ngModel)]="data.use"
                 (ngModelChange)="onUseChange($event,data)"
                 [nzTooltipTitle]="data.use?'禁用':'启用'"></label>
        </div>
        <div nz-col nzFlex="1">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input nz-input [placeholder]="parentData?.type?'属性名/键名':'全限定类名'" [disabled]="parentData?.type===3||!data.use"
                 [(ngModel)]="data.attributeName"/>
        </div>
        <div nz-col nzFlex="100px" class="box-item-select">
          <nz-select [(ngModel)]="data.type" (ngModelChange)="onTypeChange(data)" [disabled]="!data.use">
            <nz-option [nzValue]="0" nzLabel="字符串"></nz-option>
            <nz-option [nzValue]="1" nzLabel="数字"></nz-option>
            <nz-option [nzValue]="2" nzLabel="布尔"></nz-option>
            <nz-option [nzValue]="3" nzLabel="数组"></nz-option>
            <nz-option [nzValue]="4" nzLabel="对象"></nz-option>
            <nz-option [nzValue]="5" nzLabel="日期"></nz-option>
            <nz-option [nzValue]="6" nzLabel="ISO_8601日期"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzFlex="1">
          <!--suppress HtmlFormInputWithoutLabel -->
          <input *ngIf="isPlain(data.type)&&isDate(data.type)" [type]="data.type===1?'number':'text'" nz-input
                 [disabled]="!data.use" [placeholder]="data.placeholder ? data.placeholder : '属性值'"
                 [(ngModel)]="data.attributeValue" [nzAutocomplete]="valueAutocomplete"/>
          <nz-autocomplete [nzDataSource]="data.autoComplete" nzBackfill #valueAutocomplete></nz-autocomplete>
          <nz-date-picker style="width: 100%;" nzAllowClear nzShowTime *ngIf="!isDate(data.type)"
                          [(ngModel)]="data.attributeValueDate" [disabled]="!data.use"
                          [nzFormat]="data.type===5?'yyyy-MM-dd HH:mm:ss':'yyyy-MM-ddTHH:mm:ss'"
                          [nzPlaceHolder]="data.type===5?'yyyy-MM-dd HH:mm:ss':'yyyy-MM-ddTHH:mm:ss'"
                          (ngModelChange)="onDatePickerChange($event,data)"></nz-date-picker>
        </div>
      </div>
    </div>
    <div nz-col nzFlex="100px">
      &nbsp;
      <button class="box-item-button" nz-tooltip nzTooltipTitle="删除" nz-button nzType="primary" nzSize="small"
              nzShape="circle" nzDanger
              nz-popconfirm
              nzPopconfirmTitle="确定删除吗？" (nzOnConfirm)="deleteAttribute(data.id)"><i nz-icon nzType="minus"
                                                                                     nzTheme="outline"></i></button>
      &nbsp;
      <button class="box-item-button" nz-tooltip nzTooltipTitle="新增属性" nz-button nzType="primary" nzSize="small"
              nzShape="circle"
              *ngIf="!isPlain(data.type)"
              (click)="addAttribute(data.attributeValue)"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
    </div>
  </div>
  <div *ngIf="!isPlain(data.type)" [hidden]="!data.show">
    <!--suppress AngularInvalidExpressionResultType -->
    <app-attribute-item *ngFor="let item of data.attributeValue" [data]="item" [offset]="offset + 5"
                        [parentData]="data"
                        (delete)="deleteAttribute($event)" (add)="addAttribute($event)"></app-attribute-item>
  </div>
</div>
