.box-item {
  margin: 12px 0;
}

.box-item-button{
  margin-top: 4px;
}

nz-select {
  width: 84px;
}

.box-item-select {
  text-align: center;
  line-height: 31px;
}

.box-item-checkbox {
  margin-left: 6px;
}
